
#mapid{
    height: 550px;
    width: auto;
    margin-left: 10px;
    margin-right: 65px;
    z-index: 0; /* Z-index menor para garantir que fique atrás */
    border-radius: 0;
    cursor: pointer;
    margin-top: 20px;
}

/* Se necessário, para garantir que não haja margens ou preenchimentos adicionais: */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
     /* Para garantir que não haja barras de rolagem */
}

.cabecalho {
    position: relative;
}

.cabecalho img {
    position: absolute;
    top: 5px;
    margin-left: 12px;
    width: 110px; 
    height: auto; 
    z-index: 999999;
}

:root {
    --color-dark-blue: rgb(2, 33, 79); /* Azul escuro */
    --color-yellow: #FBC409; /* Amarelo */
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 85px;
    padding: 10px;
    z-index: 2;
    position: relative;
    color: rgb(2, 33, 79);
    background: linear-gradient(to right, var(--color-dark-blue), var(--color-yellow));
    top: -22px;
    margin: 0 auto;
    line-height: 100px;
    text-shadow: 2px 2px 2px rgb(239, 237, 237);
}

.faixa-inferior {
    width: auto;
    height: 10px;
    background-color: rgb(2, 33, 79); /* Use accent color from palette */
    position: relative;
    z-index: 1;
    top: -15px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.dropdown-btn {
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    background-color: #fff;
    cursor: pointer;
}
.dropdown-btn:hover {
    background-color: #d5d4d4;
}
.dropdown-content {
    margin-left: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color:  #d5d4d4;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.download-btn {
    margin-top: 10px;
    display: inline-block;
    margin-left: 20px;
}

/* Estilo para o botão personalizado */
.custom-remove-button {
    background-color: #ff0000; 
    color: #ffffff; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
}
/* Personalizar quando hover */
.custom-remove-button:hover {
    background-color: #cc0000; 
}

/* botão selecionar camadas*/
.custom-layers-button {
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.custom-layers-button:hover {
    background-color: #286090;
}

/* Estilos para o controle de busca */
.leaflet-control-geocoder {
    background-color: #fff; /* Cor de fundo */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Raio da borda */
    padding: 7px; /* Espaçamento interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    top: -1px;
    right: 0;
}

/* Estilos para o botão de busca */
.leaflet-control-geocoder a {

    color: #333; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado do link */
}

/* CSS para centralizar o botão quando expandido */
.leaflet-control-geocoder.expanded {
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* Largura expandida */
}

#info {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    z-index: 9999;
    display: none;
}
/*Geojson criado*/
#geojson-coordinates {
    margin-left: 50px;
    position: relative;
    background-color: rgba(251, 251, 251, 0.65);
    border-radius: 10px;
    fill-opacity: 3;
    width: 30%;
}

#copiageojson {
    font-family: Arial;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;
    font-size: 13px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
    display: none;
    cursor: pointer;
}
#copiageojson:hover {
    background-color: rgba(220, 233, 251, 0.486);
}

.custom-draw-control {
    z-index: 99;
}

/*Botão de fullscrren*/
.fullscreen-button i {
    position: fixed;
    top: 110px; /* Ajuste conforme necessário */
    right: 10px; /* Posiciona o ícone à direita */
    cursor: pointer;
    z-index: 9999; /* Valor alto para garantir que o ícone se sobreponha a outros elementos */
    color: #ffffff;
    background-color: rgb(2, 33, 79);
    border: 1px solid #c6c7c6;
    border-radius: 15px;
    font-size: 15px; /* Tamanho do ícone ajustado */
    padding: 10px 15px;
}
/* Personalizar hover */
.fullscreen-button i:hover {
    background-color: rgb(1, 19, 47); 
}

/*print button*/
.print-map i {
    position: fixed;
    top: 160px; /* Distância do topo da janela */
    right: 10px; /* Distância da esquerda da janela */
    z-index: 9999; /* Valor alto para garantir que sobreponha outros elementos */
    background-color: rgb(2, 33, 79); /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 15px; /* Espaçamento interno do botão */
    font-size: 15px; /* Tamanho da fonte do texto do botão */
    border: 1px solid #c6c7c6;
    border-radius: 15px; /* Arredondamento dos cantos do botão */
    cursor: pointer; /* Cursor ao passar o mouse sobre o botão */      
}
/* Personalizar quando hover */
.print-map :hover {
    background-color: rgb(1, 19, 47); 
}

#centerMapButton {
    position: fixed;
    top: 210px; /* Distância do topo da janela */
    right: 10px; /* Distância da esquerda da janela */
    z-index: 9999; /* Valor alto para garantir que sobreponha outros elementos */
    background-color: rgb(2, 33, 79); /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 15px; /* Espaçamento interno do botão */
    font-size: 15px; /* Tamanho da fonte do texto do botão */
    border: 1px solid #c6c7c6;
    border-radius: 15px; /* Arredondamento dos cantos do botão */
    cursor: pointer; /* Cursor ao passar o mouse sobre o botão */      
}
/* Personalizar quando hover */
#centerMapButton:hover {
    background-color: rgb(1, 19, 47); 
}

/*Coordenadas Longitude e latitude mouse*/
.coordinate {
    position: absolute;
    bottom: 10px; /* Distância em relação à parte inferior */
    left: 50%; /* Posiciona no meio horizontal */
    transform: translateX(-50%);
    border: 2px solid #000;
    padding: 3px 10px; /* Preenchimento superior e inferior de 3px e preenchimento esquerdo e direito de 10px */
    margin-bottom: 20px; /* Pode ser ajustado conforme necessário */
    
    background-color: rgba(255, 255, 255, 0.8); /* Branco opaco com 80% de opacidade */
    border-radius: 10px;
    text-align: end;
    font-size: 12px;
    font-family: Arial;
    z-index: 9999; /* Valor alto para garantir que este elemento fique sobreposto ao mapa */
}

/* Personalize a aparência da escala do mapa */
.leaflet-control-scale {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: Arial;
    font-size: 12px;
    line-height: 5;
}

.leaflet-control-scale-line {
    border-top: 5px solid #000;
    width: 100%;
}

.leaflet-control-scale-label {
    color: #ffffff;
}
