
#mapid{
    height: 500px;
    width: auto;
    margin: auto;
    margin-left: 10px;
    margin-right: 50px;
    z-index: 0; /* Z-index menor para garantir que fique atrás */
    border-radius: 0;
    cursor: pointer;
    margin-top: 10px;
}

/* Se necessário, para garantir que não haja margens ou preenchimentos adicionais: */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
     /* Para garantir que não haja barras de rolagem */
}

.cabecalho {
    position: relative;
}

.cabecalho img {
    position: absolute;
    top: 5px;
    margin-left: 12px;
    width: 110px; 
    height: auto; 
    z-index: 999999;
}

:root {
    --color-dark-blue: rgb(2, 33, 79); /* Azul escuro */
    --color-yellow: #FBC409; /* Amarelo */
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 85px;
    padding: 10px;
    z-index: 2;
    position: relative;
    color: rgb(2, 33, 79);
    background: linear-gradient(to right, var(--color-dark-blue), var(--color-yellow));
    top: -22px;
    margin: 0 auto;
    line-height: 100px;
    text-shadow: 2px 2px 2px rgb(239, 237, 237);
}

.faixa-inferior {
    width: auto;
    height: 10px;
    background-color: rgb(2, 33, 79); /* Use accent color from palette */
    position: relative;
    z-index: 1;
    top: -15px;
}

.dropdown {
    margin-top: -14px;
    position: auto;
    display: inline-block;
    margin-right: auto;
}

.dropdown-btn {
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    padding: 10px 25px;
    background-color: rgb(2, 33, 79);
    color:#ffffff;
    cursor: pointer;
}
.dropdown-btn:hover {
    background-color: rgb(1, 19, 47);
}
.dropdown-content {
    margin-left: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    max-height: 560px; /* Substitua 50px pela altura do cabeçalho ou qualquer outra parte fixa acima do mapa */
    overflow-y: auto;
}

.dropdown-content a{
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:  #d5d4d4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.download-btn {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

/* Estilos para o controle de busca */
.leaflet-control-geocoder {
    background-color: #fff; /* Cor de fundo */
    border: px solid #ccc; /* Borda */
    border-radius: 0; /* Raio da borda */
    padding: 7px; /* Espaçamento interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    top: 10px;
    right: 0;
}

/* Estilos para o botão de busca */
.leaflet-control-geocoder a {
    color: #333; 
    text-decoration: none; 
}

/* CSS para centralizar o botão quando expandido */
.leaflet-control-geocoder.expanded {
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* Largura expandida */
}

/*grouped layer control*/
.leaflet-control-layers-group-name {
    font-weight: bold;
    margin-bottom: .2em;
    margin-left: 3px;
}
  
.leaflet-control-layers-group {
    margin-bottom: .5em;
    font-size: 12px;
}
  
.leaflet-control-layers-scrollbar {
    overflow-y: auto;
    max-height: 400px;
    padding-right: 10px;
}

#info {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 0;
    z-index: 9999;
    display: none;
}
/*Geojson criado*/
#geojson-coordinates {
    margin-left: 10px;
    position: absolute;
    background-color: rgba(251, 251, 251, 0.65);
    border-radius: 0;
    fill-opacity: 5;
    width: 50%;
}

#copiageojson {
    font-family: Arial;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    font-size: 13px;
    color: #ffffff;
    background-color: rgb(2, 33, 79);
    border-radius: 0;
    border: 1px solid #000000;
    display: none;
    cursor: pointer;
}
#copiageojson:hover {
    background-color:  rgb(1, 19, 47);
}

.custom-draw-control {
    z-index: 99;
}


/*Botão de fullscrren*/
.fullscreen-button i {
    position: fixed;
    top: 210px; /* Ajuste conforme necessário */
    right: 10px; /* Posiciona o ícone à direita */
    cursor: pointer;
    z-index: 9999; /* Valor alto para garantir que o ícone se sobreponha a outros elementos */
    color: #ffffff;
    background-color: rgb(2, 33, 79);
    border: 1px solid rgb(2, 33, 79);
    border-radius: 0;
    font-size: 15px; /* Tamanho do ícone ajustado */
    padding: 10px 15px;
}
/* Personalizar hover */
.fullscreen-button i:hover {
    background-color: rgb(1, 19, 47); 
}

/*print button*/
.print-map i {
    position: fixed;
    top: 260px; /* Distância do topo da janela */
    right: 10px; /* Distância da esquerda da janela */
    z-index: 9999; /* Valor alto para garantir que sobreponha outros elementos */
    background-color: rgb(2, 33, 79); /* Cor de fundo do botão */
    border: 1px solid rgb(2, 33, 79);
    color: white; /* Cor do texto do botão */
    padding: 10px 15px; /* Espaçamento interno do botão */
    font-size: 15px; /* Tamanho da fonte do texto do botão */
    border-radius: 0; /* Arredondamento dos cantos do botão */
    cursor: pointer; /* Cursor ao passar o mouse sobre o botão */      
}
.print-map :hover {
    background-color: rgb(1, 19, 47); 
}

#centerMapButton {
    position: fixed;
    top: 310px; /* Distância do topo da janela */
    right: 10px; /* Distância da esquerda da janela */
    z-index: 9999; /* Valor alto para garantir que sobreponha outros elementos */
    background-color: rgb(2, 33, 79); /* Cor de fundo do botão */
    border: 1px solid rgb(2, 33, 79);
    color: white; /* Cor do texto do botão */
    padding: 10px 15px; /* Espaçamento interno do botão */
    font-size: 15px; /* Tamanho da fonte do texto do botão */
    border-radius: 0; /* Arredondamento dos cantos do botão */
    cursor: pointer; /* Cursor ao passar o mouse sobre o botão */      
}

#centerMapButton:hover {
    background-color: rgb(1, 19, 47); 
}

/*Coordenadas Longitude e latitude mouse*/
.coordinate {
    position:absolute;
    margin-left: 50px;
    border: 2px solid #000;
    padding: 3px 10px; /* Preenchimento superior e inferior de 3px e preenchimento esquerdo e direito de 10px */
    background-color: rgba(255, 255, 255, 0.8); /* Branco opaco com 80% de opacidade */
    bottom: 6%;
    border-radius: 0;
    text-align: end;
    font-size: 12px;
    font-family: Arial;
    z-index: 9999; /* Valor alto para garantir que este elemento fique sobreposto ao mapa */
}

/* Personalize a aparência da escala do mapa */
.leaflet-control-scale {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000000;
    border-radius: 0;
    padding: 5px 10px;
    font-family: Arial;
    font-size: 12px;
    line-height: 5;
}

.leaflet-control-scale-line {
    border-top: 5px solid #000;
    width: 100%;
}

.leaflet-control-scale-label {
    color: #ffffff;
}
